.fuente{
    font-family: 'Rancho', cursive;  
}
.fondo{
    background-color: #07a1e1;
    
}
.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform:scale(1.3);
}
.fondoAPP{
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
    height: 300px;
}